@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  font-family: 'Roboto', sans-serif;
}

.inbox-container {
  overflow: hidden;
  height: 100%;
}

.header {
  height: 51px;
  line-height: 58px;
  display: flex;
  font-weight: 500;
  border-bottom: 1px solid #EAEAEA;
}

.empty-column {
  flex: 0 0 48px;
}

.inbox-column {
  flex: 1 1 auto;
  color: #323332;
  font-size: 15px;
}

.filter-column {
  flex: 0 0 auto;
  padding: 0 20px;
  color: #0F78D7;
  font-size: 13px;
}