<div class="row" [class.selected]="selected">
  <div class="icon-column">
    <div class="icon" [ngStyle]="{ 'background-color': selected ? 'white' : color }" (click)="onClick()" >
      {{ selected ? "&#10003;" : mail.from.name[0] }}
    </div>
  </div>
  <div class="content">
    <div class="name-row">
      <div class="name">{{ mail.from.name }}</div>
      <div class="action" *ngIf="selected" >
        <i class="material-icons">delete</i>
        <i class="material-icons">mail_outline</i>
        <i class="material-icons">flag</i>
        <i class="material-icons">star_border</i>
      </div>
    </div>
    <div class="subject-row">
      <div class="subject">{{ mail.subject || "(No Subject)" }}</div>
      <div class="date">{{ date }}</div>
    </div>
    <div class="body">{{ mail.body }}</div>
  </div>
</div>
