:host(:first-child) .row {
  border-top: 0;
}

.row {
  display: flex;
  border-top: 1px solid #EAEAEA;
  padding: 9px 0;
}

.row:hover {
  background:#EAEAEA;
}

.row.selected {
  background:#EAEAEA;
}

.icon-column {
  flex: 0 0 26px;
  padding: 0 11px;
}

.icon {
  font-size: 11px;
  text-align: center;
  line-height: 26px;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  color: white;
  box-sizing: border-box;
}

.icon:hover {
  background-color: white !important;
  color: #C8C8C8;
}

.row.selected .icon {
  color: #C8C8C8;
  border: 2px solid #C8C8C8;
}

.content {
  flex: 1 1 auto;
  max-width: calc(100% - 48px);
  color: #202020;
}

.content > div {
  font-size: 13px;
  line-height: 18px;
  height: 18px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 5px;
}

.content .body {
  color: #666666;
}

.subject-row, .name-row {
  display: flex;
}

.subject, .name {
  flex: 1 1 auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.date, .action {
  flex: 0 0 auto;
}

.action i {
  font-size: 18px;
  color: #666666;
}

.action i:hover {
  color: black;
}