.list-container {
  overflow: auto;
  height: calc(100% - 52px);
}

app-list-item {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  background-color: #C8C8C8;
  border: 5px solid transparent;
  border-radius: 8px;
  background-clip: content-box;
}